[Unit]
Description=js-worldspawn-scraper
After=network.target

[Service]
User=hejazi
WorkingDirectory=/root/js-worldspawn-scraper/src
ExecStart=/usr/bin/node /root/js-worldspawn-scraper/src/index.js
Restart=always

[Install]
WantedBy=multi-user.target